{% extends "template.html" %}

{% set page="home" %}

{% block meta %}
  <title>Selecao Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
{% endblock %}

{% block content %}

  {% include "parts/hero.html" %}

  <main id="main">

    {% include "parts/about-section.html" %}

    {% include "parts/features-section.html" %}

    {% include "parts/cta-section.html" %}

    {% include "parts/services-section.html" %}

    {% include "parts/portfolio-section.html" %}

    {% include "parts/testimonials-section.html" %}

    {% include "parts/pricing-section.html" %}

    {% include "parts/faq-section.html" %}

    {% include "parts/team-section.html" %}

    {% include "parts/contact-section.html" %}

  </main><!-- End #main -->

{% endblock %}
