    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Marine Corps League</h3>
                            <p>
                                286 Belgrove Drive, Kearny<br>
                                NJ 07032, USA<br><br>
                                <strong>Phone:</strong> (201) 991-4492<br>
                                <strong>Email:</strong> info@whdmcl.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/Marine-Corps-League-West-Hudson-Detachment-163294907032603/" class="facebook"><i class="bx bxl-facebook"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="about.html">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="events.html">Events</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="gallery.html">Gallery</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="officers.html">Officers</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="committee.html">Committees</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="commandants.html">Past Commandants</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://mcl-west-hudson-detachment.square.site/">Quartermaster</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="shootingteam.html">Shooting Team</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="memoriam.php">In Memoriam</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="news.html">Publications</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="links.html">Links and Forms</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="contact.html">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <img src="assets/img/mcLogo.png" class="img-fluid" alt="" style="max-height: 70%">
                    </div>


                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; 2024 Copyright <strong><span>Marine Corps League, West Hudson Detachment 209</span></strong>. All Rights Reserved.<br>The Eagle, Globe and Anchor emblem and the name Marine Corps&reg are registered trademarks of the USMC. The Marine Corps League and its subordinate organizations support the USMC and its veterans, however it is not officially connected to or endorsed by the USMC, and the name and emblem are used with permission.
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
            </div>
        </div>
    </footer><!-- End Footer -->

